/*
HTML elements:
  https://html.spec.whatwg.org/multipage/#toc-semantics

User agent style sheets:
  Blink: https://chromium.googlesource.com/chromium/src/+/refs/heads/main/third_party/blink/renderer/core/html/resources/html.css
  WebCore: https://github.com/WebKit/WebKit/blob/main/Source/WebCore/css/html.css
  Gecko: https://searchfox.org/mozilla-central/source/layout/style/res/html.css
*/

*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, sans-serif;
  -webkit-text-size-adjust: none;
}

/* Sections */

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: 0;
}

/* Grouping content */

p,
hr,
blockquote,
ol,
ul,
menu,
dl,
figure {
  margin-block: 0;
}

pre {
  margin: 0;
}

blockquote,
figure {
  margin-inline: 0;
}

ol,
ul,
menu {
  padding-inline-start: 0;
  list-style-type: none;
}

li::marker {
  line-height: 0;
}

dd {
  margin-inline-start: 0;
}

/*  Text-level semantics  */

a {
  color: inherit;
  text-decoration: none;
}

sub,
sup {
  line-height: 0;
}

/* Embedded content */

img,
svg,
iframe,
embed,
object,
video,
audio,
svg,
canvas {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}
