@layer tonic.layout {
  body {
    margin: 0;
  }

  :is(h1, h2, h3, h4, h5, h6),
  p,
  pre,
  blockquote,
  :is(ol, ul, menu, dl),
  figure {
    margin-block: 1em 1rem;
  }

  :is(ol, ul, menu, dl) :is(ol, ul, menu, dl) {
    margin-block: 0;
  }

  blockquote,
  figure {
    margin-inline: 2.5rem;
  }

  :is(ol, ul, menu) {
    padding-inline-start: 2.5rem;
  }

  dd {
    margin-inline-start: 2.5rem;
  }

  img,
  iframe,
  embed,
  object,
  video,
  audio,
  svg,
  canvas {
    max-inline-size: 100%;
    vertical-align: middle;
  }

  img,
  video,
  svg,
  canvas {
    block-size: auto;
  }
}

@layer tonic.typography {
  html {
    overflow-wrap: break-word;
    font-synthesis: none;
    line-height: calc((0.33 + 1) / 1);
    -webkit-text-size-adjust: none;
  }

  :is(h1, h2, h3) {
    font-weight: inherit;
  }

  h1 {
    font-size: 2em;
    line-height: calc((0.33 + 2) / 2);
  }

  h2 {
    font-size: 1.67em;
    line-height: calc((0.33 + 1.67) / 1.67);
  }

  h3 {
    font-size: 1.33em;
    line-height: calc((0.33 + 1.33) / 1.33);
  }

  h4 {
    font-size: 1em;
    line-height: calc((0.33 + 1) / 1);
  }

  h5 {
    font-size: 0.83em;
    line-height: calc((0.33 + 0.83) / 0.83);
  }

  h6 {
    font-size: 0.67em;
    line-height: calc((0.33 + 0.67) / 0.67);
  }

  address {
    font-style: inherit;
  }

  pre {
    white-space: pre-wrap;
  }

  :is(pre, code, samp, kbd) {
    font-family: ui-monospace, monospace;
    font-size: 0.83em;
    line-height: calc((0.33 + 0.83) / 0.83);
  }

  :is(pre, code, samp, kbd) :is(pre, code, samp, kbd) {
    font-size: inherit;
  }
}
