@layer tonic.layout {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  hr,
  pre,
  blockquote,
  ol,
  ul,
  menu,
  dl,
  figure {
    margin-block: 0;
  }

  img,
  iframe,
  embed,
  object,
  video,
  audio,
  svg,
  canvas {
    display: block;
    max-inline-size: 100%;
  }

  img,
  video,
  svg,
  canvas {
    block-size: auto;
  }

  table {
    border-collapse: collapse;
  }
}

@layer tonic.typography {
  :root {
    overflow-wrap: anywhere;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    font-family: system-ui, sans-serif;
    font-variant-ligatures: contextual;
    font-synthesis: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  address,
  cite {
    font-style: inherit;
  }

  pre {
    white-space: pre-wrap;
  }

  pre,
  code,
  samp,
  kbd {
    font-family: ui-monospace, monospace;
  }

  li::marker,
  sub,
  sup {
    line-height: 0;
  }

  caption,
  th {
    text-align: start;
  }

  input,
  button,
  select,
  textarea {
    font-family: inherit;
  }

  input:is([type="radio" i], [type="checkbox" i]) {
    margin: 0;
  }
}
