@layer utilities {
  .stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    > * {
      margin-block: unset;
    }

    > * + * {
      margin-block-start: var(--space, revert-layer);
    }
  }
}
