@import './preflight.css' layer(preflight);
@import './modules/text-decorations.css' layer(base);
@import './modules/text-positions.css' layer(base);
@import './modules/lists.css' layer(base);

@layer preflight {
  a {
    text-decoration: revert-layer;
  }
}

a:has(> :is(picture, img, iframe, embed, object, video, audio, svg, canvas)) {
  display: block;
  inline-size: fit-content;
}

caption,
th {
  text-align: start;
}

th {
  font-weight: inherit;
}
