html {
  font-synthesis: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
pre,
blockquote,
ol,
ul,
menu,
dl,
figure {
  margin-block: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  text-wrap: balance;
}

address {
  font-style: inherit;
}

pre {
  white-space: pre-wrap;
}

blockquote,
figure {
  margin-inline: 0;
}

ol,
ul,
menu {
  padding-inline-start: var(--list-indent-size, 2.5rem);
}

dd {
  margin-inline-start: var(--list-indent-size, 2.5rem);
}

a {
  color: inherit;
}

img,
iframe,
embed,
object,
video,
audio,
svg,
canvas {
  display: block;
  max-inline-size: 100%;
}

a:has(> :is(picture, img, iframe, embed, object, video, audio, svg, canvas)) {
  display: block;
  inline-size: fit-content;
}

table {
  border-collapse: collapse;
}

caption,
th {
  text-align: start;
}

fieldset {
  margin-inline: 0;
  padding: 0;
  border: 0;
}

legend {
  font-weight: bolder;
}
