/*! Tonic v0.0.1 | MIT License | https://github.com/bearform/css */

@import "modern-normalize.css" layer(modern-normalize);

/*
Layout
======
*/

@layer tonic.layout {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  hr,
  pre,
  blockquote,
  ol,
  ul,
  menu,
  dl,
  figure {
    margin-block: 0;
  }

  blockquote,
  figure {
    margin-inline: var(--indent-size, revert-layer);
  }

  ol,
  ul,
  menu {
    padding-inline-start: var(--indent-size, revert-layer);
  }

  dd {
    margin-inline-start: var(--indent-size, revert-layer);
  }

  img,
  iframe,
  embed,
  object,
  video,
  audio,
  svg,
  canvas {
    max-inline-size: 100%;
    vertical-align: text-bottom;
  }

  a:has(> :is(img, iframe, embed, object, video, audio, svg, canvas)) {
    display: inline-block;
    line-height: 0;
  }

  table {
    border-collapse: collapse;
  }
}

/*
Typography
==========
*/

@layer tonic.typography {
  html {
    overflow-wrap: anywhere;
    font-variant-ligatures: contextual;
    font-synthesis: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    text-wrap: balance;
  }

  address,
  cite {
    font-style: inherit;
  }

  pre {
    white-space: pre-wrap;
  }

  a {
    color: inherit;
  }

  caption,
  th {
    text-align: start;
  }
}

/*
Utilities
=========
*/

@layer tonic.utilities {
  .center {
    box-sizing: content-box;
    max-inline-size: var(--max-inline-size, 40rem);
    margin-inline: auto;
    padding-inline: var(--inline-gap, 1rem);
  }

  .stack {
    display: flex;
    flex-direction: column;
    justify-content: start;

    > * {
      margin-block: 0;
    }

    > * + * {
      margin-block-start: var(--block-gap, 1rlh);
    }
  }

  .sr-only {
    position: absolute;
    contain: layout;
    block-size: 1px;
    inline-size: 1px;
    margin: -1px;
    padding: 0;
    border-width: 0;
    clip-path: inset(50%);
  }
}
